<!DOCTYPE html>
<html>
<head>
  <title>Grechelle's Kitchen</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<section id="products">
<div class="row">
  <div class="headerimg">
	<br><br><br>
    <!-- <div class="ui centered grid"> -->
    <div class="ui centered grid">
        <div class="two wide column"></div>
        <div class="two wide column headerlinks"><%= link_to "Home", root_path %></div>
        <div class="two wide column headerlinks"><%= link_to "Products", root_path %></div>
        <div class="four wide column headerlinks"><%= link_to " ", root_path %></div>
        <div class="one wide column"></div>
        <div class="two wide column headerlinks"><%= link_to "My Cart", root_path %></div>
        <div class="two wide column headerlinks"><%= link_to "Verify", root_path %></div>
        <div class="one wide column"></div>
  	</div>
  </div>
</div>
<br>

<% if current_order %>
<p style="border:1px solid black;padding:10px;">
  You have <%= pluralize current_order.total_items, 'item'%> in your basket which cost
  <%= number_to_currency current_order.total_before_tax %>.
</p>
<% end %>

<%= link_to "View basket", basket_path %>
<%= flash[:notice] %>

<%= link_to "Checkout", checkout_path %>

</section>

<%= yield %>

<br><br>

<div class="footerimg">
</div>

</body>
</html>
